/*RESOLUÇÃO IPHONE PLUS*/
@media(max-width: 979px) {

    body,
    header {


        max-width: 100%;
    }

    header img {

        margin-left: 80px;
        margin-right: 120px;
    }


    p {
        font-size: 20px;
    }

    h1 {
        font-size: 25px;
    }

    .menu {
        font-size: 15px;
        max-width: 100%;


    }

    .cabecalho {
        max-width: 80%;
        margin: 15%;

    }

    .flex img {
        width: auto;
        height: auto;

    }

    .grid-item {
        max-width: 90%;
    }


}


/*RESOLUÇÃO MICROSFT LUMIA 950*/


@media(max-width: 581px) {

    body,
    header {


        max-width: 100%;
    }

    header img {

        margin-left: 180px;
        margin-right: 120px;
        max-width: 60px;
        max-height: 60px;
    }



    p {
        font-size: 15px;
    }

    h1 {
        font-size: 25px;
    }

    .menu li a {


        font-size: 12px;
        max-width: 50%
    }

    .cabecalho {
        max-width: 80%;
        margin: 15%;

    }

    .flex img {


        width: auto;
        height: auto;

    }

    .grid-item {
        max-width: 100%;
    }

}